.red-button {
	background: #ff2500;
	padding: 12px 70px;
	border-radius: 5px;
	color: #fff;
}
.form-primary-header {
	background: #696969;
	padding: 20px 50px;
}
.form-primary-header a{
	color: #fff;
}
.form-primary-header .black-back {
	background: #000;
	border-radius: 15px;
	padding: 7px 15px;
	margin-left: 30px;
}
.form-secondary-header, .landlord-form  .address-details  {
	padding: 30px 40px 30px 60px;
	background: #f6f6f6;
}
.form-welcome-msg {
	padding: 60px;
}

.landlord-form .question1 {
	background: #f6f6f6;
	padding: 30px 40px 30px 60px;
}
.landlord-form  .contact-details, .landlord-form  .security-details {
	padding: 30px 40px 30px 60px;
}
.landlord-form  .contact-details .form-control, .landlord-form  .address-details .form-control, .landlord-form  .security-details .form-control  {
	width: 50%;
	margin: 10px 0;
}
.landlord-form  .security-details select.form-control {
	width: 10%;
	display: inline;
}
.landlord-form .form-submit-button {
	margin-top: 50px;
	margin-bottom: 50px;
}