.purple-button {
	background: #39B7CD;
	padding: 15px 40px;
	border-radius: 5px;
	color: #fff;
}
.home .carousel-inner img , .secondary-banner img {
	width: 100%;
}
.home .properties, .home .advertisments {
	padding-top: 80px;
	padding-bottom: 80px;
	background: #f6f6f6;
}
.home .properties img {
	width: 120px;
	height: 120px;
}
.home .properties .caption span {
	font-size: 10px;
}
.home .properties .caption .learn-more-button {
	margin-top: 25px;
}
.home .company-description, .home .join-now , .home .blog-section {
	margin-top: 100px;
	margin-bottom: 100px;
}
.home .company-description p {
	margin-top: 30px;
	margin-bottom: 50px;
}
.home .join-now h3 {
	margin-bottom: 45px;
}
.blog-section .blog-heading {
	margin-top: 25px;
}
.blog-section .thumbnail {
	background: #f6f6f6;
}
.blog-section a.blog-sec-button {
	padding: 20px 30px;
	border: 1px solid #39B7CD;
	color: #39B7CD;
	border-radius: 5px;
}
.blog-section .blog-link {
	margin-top: 50px;
}